html{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
}
body{
    padding: 20px;
    background-color: #191a2e;
}
.loadingTiktok{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loadingTiktok div{
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    position: absolute;
    left: 0;
}
.loadingTiktok div:nth-child(1){
    background-color: #f7004d;
    animation: spinner1 1s linear infinite;
    animation-delay: -0,5s;
}
.loadingTiktok div:nth-child(2){
    background-color: #00efe7;
    animation: spinner1 1s linear infinite;
}
.loadingTiktok div:nth-child(3){
    background-color: #f7004d;
    animation: spinner2 1s linear infinite;
    animation-delay: -0.5s;
}
@keyframes spinner1{
    0%{
        transform: translateX(0);
    }
    50%{
        transform:translateX(80px)
    }
    100%{
        transform: translateX(0);
    }
    
}
@keyframes spinner2{
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    49.99%{
        opacity: 1;
        transform: translateX(80px);
    }
    50%{
        opacity: 0;
        transform: translateX(80px);
    }
    100%{
        opacity: 0;
        transform: translateX(0);
    }
}